<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">NEXT</a>
</nav>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div id="grupo">
    <div class="container">
        <br>
        <div class="row justify-content-center align-items-center" id="login-row">
            <div class="col-md-6" id="login-column">
                <div class="col-md-12" id="login-box">
                    {% from "includes/_formhelpers.html" import render_field %}
                    <form action="/setor/faixa" class="form" id="login-form" method="post">
                        <h1 class="text-center text-black">Faixa Senha</h1>
                        <br>
                        <div class="container">
                            {% include 'includes/_messages.html' %}
                            {% block body %}{% endblock %}
                        </div>
                        <table class="table table-borderless">
                            <thead>
                            <tr>
                                <th scope="col">Tipo de Senha</th>
                                <th scope="col">Faixa Inicio</th>
                                <th scope="col">Faixa Final</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>
                                    <input class="form-control" disabled type="text " value="Preferencial +80">
                                    </select>
                                </th>
                                <th>
                                    <input name="pref80_faixa_inicio" class="form-control" type="text"
                                           id="pref80_faixa_inicio">
                                </th>
                                <th>
                                    <input name="pref80_faixa_final" class="form-control" type="text"
                                           id="pref80_faixa_final">
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <input class="form-control" disabled type="text " value="Preferencial">
                                    </select>
                                </th>
                                <th>
                                    <input name="pref_faixa_inicio" class="form-control" type="text"
                                           id="pref_faixa_inicio">
                                </th>
                                <th>
                                    <input name="pref_faixa_final" class="form-control" type="text"
                                           id="pref_faixa_final">
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <input class="form-control" disabled type="text " value="Normal">
                                    </select>
                                </th>
                                <th>
                                    <input name="normal_faixa_inicio" class="form-control" type="text"
                                           id="normal_faixa_inicio">
                                </th>
                                <th>
                                    <input name="normal_faixa_final" class="form-control" type="text"
                                           id="normal_faixa_final">
                                </th>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <div class="container">
                            <div class="col-sm">
                                <br>
                            </div>
                            <div class="text-right" id="register-link">
                                <input class="btn btn-primary btn-md" name="submit" type="submit" value="proximo">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
</nav>
</body>

